<!-- This is the footer file which you can call in every page using ejs partials code -->

<footer>
  © 2022 Meet Bhadeshia
  </footer>
  <!-- <form action="/" method="post">
    <input type="text" name="deleteItem" placeholder="delete here" />
    <button type="submit">Delete</button>
  </form> -->
</body>
</html>
