<!-- This is the header page, which is gonna remain same in all the pages, and writing it in one file
and calling it in every page, reduces writing much code, use this code to include header in a diff page -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo list</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>